@if (book) {
  <a class="book-card-link" [routerLink]="['/books', book.slug]">
    <article class="book-card">
      <img [src]="book.coverImage" [alt]="book.title" />
      <div class="book-card__content">
        <span class="book-category">{{ book.category }}</span>
        <h3>{{ book.title }}</h3>
        <p class="author">{{ book.author }}</p>
        <p class="description">{{ book.description }}</p>
        <div class="book-meta">
          <span>{{ book.publishedYear }}</span>
          <span>{{ book.status }}</span>
        </div>
      </div>
    </article>
  </a>
}
